[submodule "/home/dennis/.config/oh-my-zsh"]
	path = /home/dennis/.config/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "/home/dennis/.config/tmux/plugins/tpm"]
	path = /home/dennis/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/home/dennis/.cache/dein/repos/github.com/Shougo/dein.vim"]
	path = /home/dennis/.cache/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
