# Transient and cached emacs files
.config/emacs/transient/
.config/emacs/elpa/
.config/emacs/auto-save-list/
.config/emacs/parinfer-rust/

# Zsh transient files
.config/zsh/.zcompdump
.config/zsh/.zsh_sessions
