" Extensions
" See: https://github.com/JetBrains/ideavim/wiki/Emulated-plugins
set surround
set commentary

" Search/Filter
set smartcase
set incsearch

" IdeaVim stuff
" See: https://github.com/JetBrains/ideavim/wiki/%22set%22-commands
set ideajoin                " Use IDEA's joins
set idearefactormode=keep   " Do not change mode on refactor

set scrolloff=5
set sidescrolloff=5

" Map leader
let mapleader = ' '

" IdeaVim actions
nnoremap R  <Action>(RenameElement)
nnoremap gs <Action>(GotoSymbol)
nnoremap gi <Action>(GotoImplementation)
nnoremap gH <Action>(ShowErrorDescription)
nnoremap gh <Action>(QuickJavaDoc)

" Use Up/Down to scroll
nnoremap J <C-d>
nnoremap K <C-u>

" Map Left/Right to line beginning/end
nnoremap H 0
nnoremap L $
vnoremap H 0
vnoremap L $
