" Extensions
set surround
set commentary

" Search/Filter
set ignorecase
set incsearch

" IdeaVim stuff
set ideajoin

" Map leader
let mapleader = ' '

" IdeaVim keymappings
nmap gs <Action>(GotoSymbol)
nmap gi <Action>(GotoImplementation)
nmap R  <Action>(RenameElement)
nmap <c-q> <Action>(ShowErrorDescription)

" Use Up/Down to scroll
nmap J <C-d>
nmap K <C-u>

" Map Left/Right to line beginning/end
nmap H 0
nmap L $
vmap H 0
vmap L $
